body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

#info{
	position: absolute;
    bottom: 0px;
    right: 0px;
    color: #fff;
    padding: 10px 10px;
}
#info b{
	color: rgb(50,50,255);
}